<div style="background-image: url({{ @site.cover_image }});" class="bg-top bg-no-repeat bg-cover navbar overlay">
    <div class="relative z-50 flex flex-col items-end justify-between mx-auto wrapper {{#is " home"}} py-4 md:py-12
        min-h-[680px]{{/is}}">
        <div class="flex justify-between w-full py-5 mx-auto text-white">
            <a href="{{ @site.url }}" class="text-2xl font-bold ">
                {{@site.title}}
            </a>
            <div class="hidden md:block header-navigation">
                {{navigation}}
            </div>
            
            <div class="block md:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </div>
        </div>

        {{{block "under_navbar"}}}

        {{#is "home"}}
        {{> "call-to-action"}}
        <div class="mt-24 ">
            <div class="text-white md:w-4/12">
                <h1 class="mb-3 text-3xl font-bold">Hi, I’m Max.</h1>

                <p class="mb-5 text-xl font-bold md:text-2xl">Let’s explore how to create the life we want to live, by
                    investigating
                    human nature,
                    designing our life, implementing
                    change, supporting each other, and making personal growth a priority.</p>

                <p class="text-xl font-bold md:text-2xl ">99% of my content is free, so please extract as much value from it as you
                    can!
                    Join my
                    spam-free newsletter here to
                    never miss any content.</p>
            </div>
        </div>
        {{/is}}
    </div>
</div>