{{!< default}}

{{#post}}
    {{#if feature_image}}
    <div class="grid items-center grid-cols-2 gap-x-14">
        <div class=" bg-cover h-[320px] md:h-[720px] bg-center col-span-2 md:col-span-1" style="background-image: url({{ feature_image }});"></div>
        
        <div class="col-span-2 px-8 mt-5 md:mt-0 md:col-span-1">
            <h1 class="text-5xl font-bold uppercase font-condensed">{{title}}</h1>
            <p class="mt-5 text-xl leading-relaxed">{{excerpt}}</p>
        </div>
    </div>
    {{else}}
    <div class="my-16 text-center">
        <div class="px-8">
            <h1 class="text-5xl font-bold uppercase font-condensed">{{title}}</h1>
            <p class="mt-5 text-xl leading-relaxed">{{excerpt}}</p>
        </div>
    </div>
    {{/if}}

    <div class="px-8 mx-auto my-16 prose prose-xl md:px-0 md:prose-2xl">
        {{content}}
    </div>
    
    {{> "ad"}}
{{/post}}